.chatting-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.message-bubble {
    margin-bottom: 10px;
}

.message-frame {
    display: inline-block;
    height: auto;
    line-height: 30px;
    font-size: 16px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.chatting-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

.chatting-room {
    display: flex;
    width: 100%;
    height: 100%;
}

.myEmos {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.emoList {
    margin-bottom: 5px;
    width: 100px;
    position: relative;
}

.emoList:hover .buttons{
    display: flex !important;
}

.buttons {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(80, 80, 80, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}