.RegisterBackground {
    display: flex;
    align-items: center;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
}

.RegisterFrame {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.linkLogin {
    margin-left: 30px;
    color: white;
}

.linkLogin:hover {
    color: #1890ff;
}

.buttonRegister {
    margin-left: 40px;
}